.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  overflow: hidden;
  border: 2px solid #000;
  box-shadow: 0px 0px 20px black;
  border-radius: 5px;

  .carousel {
    position: relative;
    transition: 1s;
    display: flex;
    flex-direction: row;
    width: 100%;
    .slide {
      /* flex-shrink, flex-grow, flex-basis */
      flex: 0 0 100%; /*flex-basis 100% prai elementot da zafati 100% od dadeniot prostor*/
      height: 600px;
      background-size: cover;
    }
  }
  button {
    background-color: #ffffff00;
    width: 60px;
    border: 0;
  }
  #prevBtn {
    z-index: 1;
    margin-right: -60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      color: #97ffe3;
    }
  }
  #nextBtn {
    z-index: 1;
    margin-left: -60px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      color: #97ffe3;
    }
  }
  .custom-icon {
    font-size: 2rem;
  }
  .carousel_nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel_button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #97ffe375;
      margin: 10px;
      &:hover {
        background-color: #97ffe3;
      }
      &.carousel_button_selected {
        background-color: #97ffe3;
      }
    }
  }
}
