#toDoList {
  max-width: 1400px;
  div {
    margin: 50px 0;
    width: 80%;
    background-color: #212431;
    box-shadow: 0 0 8px #12100e;
    border-radius: 5px;
    padding: 5px;
    h1 {
      color: #ffffff99;
      font-weight: 400;
      font-size: 1.5rem;
      padding: 0;
      width: 90%;
    }
    #inputDiv {
      box-shadow: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 25px;
      width: 90%;
      display: flex;
      gap: 5%;
      justify-content: space-evenly;
      align-items: center;

      input {
        background-color: #2d304790;
        border-radius: 5px;
        border: 1px solid black;
        padding: 0 15px;
        height: 2.25rem;
        width: 85%;
        &:focus {
          outline: none;
          box-shadow: 0 0 10px #000;
          color: #ffffff99;
          font-size: 1rem;
        }
      }
      i {
        display: flex;
        justify-content: right;
        align-items: center;
        width: max-content;
        &.icon-custom {
          font-size: 2.25rem;
          color: #ffffff90;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  #taskList {
    max-width: 1400px;
    padding: 0;
    margin: 0;
    .taskDiv {
      margin-top: 10px;
      padding: 10px 0;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .textParagraph {
        margin: 0;
        border: none;
        background-color: #212431;
        color: #ffffff99;
        font-size: 1.25rem;
        width: 70%;
        text-align: left;
        padding-left: 5%;
        &.completedTask {
          text-decoration: line-through;
        }
      }
      .buttonDiv {
        box-shadow: none;
        padding: 0;
        margin: 0;
        width: 30%;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .icon-custom {
    font-size: 1.75rem;
    &.icon-complete {
      color: green;
      &.completedTask {
        color: #000;
      }
    }
    &.icon-edit {
      color: orange;
    }
    &.icon-delete {
      color: red;
    }
    &:hover {
      color: #000;
    }
  }
}
